snippet start "Start new project"
/*

Autor(es): Luís Augusto Simas do Nascimento
Data de Criação: `date "+%d/%m/%Y"`
Data de Atualização: `date "+%d/%m/%Y"`

Objetivos: $2

*/

// Bibliotecas de funções
#include <errno.h>
#include <math.h>
#include <stdio.h>
#include <stdlib.h>


// Função principal
int main(int argc, char *argv[])
{
	$0

	getchar();
	getchar();

	return 0;
}
endsnippet
