snippet cpp "C++ makefile template" b
CXX=g++
CXXFLAGS=-Wall $0

LIBRARIES=
EXECUTABLE=output

SOURCES := ${wildcard *.cpp} ${wildcard **/*.cpp}

all: $(SOURCES)
	$(CXX) $(CXXFLAGS) $^ -o $(EXECUTABLE) $(LIBRARIES)

clean:
	rm $(EXECUTABLE)
endsnippet

snippet c "C makefile template" b
CXX=gcc
CXXFLAGS=-lm $0

LIBRARIES=
EXECUTABLE=output

SOURCES := ${wildcard *.c} ${wildcard **/*.c}

all: $(SOURCES)
	$(CXX) $(CXXFLAGS) $^ -o $(EXECUTABLE) $(LIBRARIES)

clean:
	rm $(EXECUTABLE)
endsnippet
